---
import Layout from '../layouts/GlobalLayout.astro';
---

<Layout title="Forside">
  <h1>Hello World</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo magni magnam, ut earum quis ipsam est cum error, deserunt repellat ex voluptatum voluptatem tempora. Dolores error velit deleniti commodi incidunt!</p>
</Layout>